<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
    <%- include('partials/_header.ejs') %>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <div id="gauge-container">
        <div id="gauge" style="width: 350px; height: 200px;"></div>
        <input type="range" min="0" max="180" value="90" class="slider" id="angleSlider">
    </div>
    <div id="details" class="details">
        <h2 id="instrumentName"></h2>
        <p id="instrumentDistance"></p>
        <p id="instrumentAngle"></p>
    </div>
    <script src="/js/instruments.js"></script> 
</body>
</html>
