@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

/* Global Styles */
body, html {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1140px;
  margin: auto;
  padding: 0 15px;
}

/* Card Styles */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card.expanded {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    transform: scale(1.1);
    z-index: 1050;
}

.card.expanded .card-body {
    max-height: none;
    overflow: visible;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
    margin-top: 20px;
  }

  .container {
    max-width: 540px;
  }

  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 576px) {
  .navbar-brand,
  .nav-link {
    text-align: center;
  }

  .container {
    padding: 0 10px;
  }
}

/* Instruments Grid */
#instrumentsGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Ensuring instrument details modal/dialog is centered and clearly visible on smaller screens */
.modal-dialog {
  margin: 1.75rem auto;
}

.modal-content {
  overflow-y: auto;
}

.welcome-text {
  font-weight: bold;
  font-family: 'Merriweather', serif;
}

@keyframes movingLight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400% 0;
  }
}

@keyframes flip {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(180deg);
  }
}

@keyframes lightRing {
  0%, 100% {
    box-shadow: 0 0 0 0px rgba(255, 215, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(255, 215, 0, 0.5);
  }
}

.Instrument-header-text {
  font-weight: bold;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.instrument-card .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 250px;  /* Increase the size */
  height: 250px;  /* Keep width and height the same for a circle */
  border-radius: 50%;  /* This makes the element circular */
  border: 3px solid gold;  /* Makes the border thicker and golden */
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;  /* Smooth transition for effects */
  overflow: hidden;  /* Ensures the content respects the circular shape */
  position: relative;  /* Necessary for positioning adjustments when expanded */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Adds a subtle shadow for depth */
  background: linear-gradient(145deg, #ffffff, #e6e6e6);  /* A subtle gradient for a bit of texture */
  z-index: 1;  /* Normal stack order */
  border: 3px solid transparent; /* Use transparent border */
  background-image: linear-gradient(white, white), linear-gradient(to right, gold, #ffd700, white, #ffd700, gold);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  /* Apply the animation always */
  animation: movingLight 8s linear infinite;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.card-img-top {
  width: 90%;
  height: auto;
  border-radius: 50%;
  margin-top: 5%;
}

/* Expanded state styles */
.instrument-card .expanded {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  border-width: 5px;
  z-index: 1050;
}

/* Blurring other cards */
.instrument-card.blur {
  filter: blur(5px);
}

#instrumentsGrid {
  margin-top: 40px;
}

/* Enhancing visual styling of titles within instrument cards */
.card .card-title {
  font-weight: bold;
  font-size: 1.25rem; /* This increases the font size slightly */
  color: #333333; /* Adjusted for better contrast against card background. Change the color as needed to fit the theme */
}


#gauge-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
}
#details {
  border: 3px solid #211F55; /* Dark blue border */
  padding: 20px;
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 40px;
  font-weight: bold;
  color: #211F55; /* Dark blue text, enhancing the orchestral theme */
  background: linear-gradient(to bottom, #f4f4f4 0%, #e6e6e6 100%); /* Subtle gradient for sophistication */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Outer shadow for depth */
              inset 0 1px 3px rgba(255, 255, 255, 0.5); /* Inner light for a soft lift */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Text shadow for a 3D effect */
  border-radius: 10px; /* Rounded corners for a modern, softer look */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
}

#details:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover for interactive feel */
  transform: translateY(-2px); /* Slight lift effect on hover */
}


.slider {
  width: 350px;             /* Control the width to fit your layout */
  margin-top: -10px;
  appearance: none;         /* Remove default styles */
  height: 10px;             /* Set the height of the slider */
  border-radius: 10px;      /* Rounded corners for a smoother look */
  background: linear-gradient(to right, #000, #ffd700, #000); /* Gradient from black to gold to black */
  outline: none;            /* No outline on focus */
  opacity: 0.7;             /* Start with a lower opacity for an elegant look */
  transition: opacity 0.2s; /* Smooth transition for opacity changes */
}

.slider:hover {
  opacity: 1; /* Full opacity on hover for better interaction visibility */
}

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 25px;                   /* Width of the thumb */
  height: 25px;                  /* Height of the thumb */
  border-radius: 50%;            /* Circular shape */
  background: #ffd700;           /* Gold color to match the orchestra theme */
  cursor: pointer;               /* Cursor indicates the element is interactive */
  box-shadow: 0 0 4px #555;      /* Subtle shadow for a 3D effect */
  transition: background 0.3s;   /* Smooth background transition on hover */
}

.slider::-webkit-slider-thumb:hover {
  background: #ffcc00; /* A lighter gold when hovered */
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffd700;   /* Ensuring consistent appearance across browsers */
  cursor: pointer;
  box-shadow: 0 0 4px #555;
}

.slider::-moz-range-thumb:hover {
  background: #ffcc00;
}

.slider::-ms-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #ffd700;
  cursor: pointer;
  box-shadow: 0 0 4px #555;
}

.slider::-ms-thumb:hover {
  background: #ffcc00;
}

.slider:focus::-webkit-slider-thumb, .slider:focus::-moz-range-thumb, .slider:focus::-ms-thumb {
  box-shadow: 0 0 0 4px rgba(255, 215, 0, 0.5); /* Adds a glow effect around the thumb on focus */
}

#playPauseButton {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  background-color: #4A235A; /* Dark purple for a rich, deep look */
  color: #E8DAEF; /* Light lavender for contrast */
  border: none;
  border-radius: 10px; /* Rounded edges */
  padding: 10px 20px; /* Padding for better touch area and aesthetics */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
  font-size: 16px; /* Readable font size */
  text-shadow: 1px 1px 2px black; /* Text shadow for depth */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle box shadow for 3D effect */
  cursor: pointer; /* Cursor pointer to indicate it's clickable */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effects */
}

#playPauseButton:hover, #playPauseButton:focus {
  background-color: #5D3FD3; /* Lighter purple on hover for visual feedback */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); /* Larger shadow on hover for more depth */
  outline: none; /* Remove outline on focus for cleaner look */
}

